.footer {
    display: flex;
    justify-content: space-between;
background: var(--background-color);
padding-top: 60px;
padding-bottom: 60px;
}

.logo-address{
    margin-right: 70px;
}
.address {
font-family: var(--main-font);
font-style: normal;
line-height: 1.71;
}
.address__item{
    &:not(:last-child){
    margin-bottom: 9px;
    }
}

.address__link {
    color: var(--main-light-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}

.address__mail-tel {
    color: var(--footer-mail-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}


.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-title{
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--main-light-color);
}
.footer-social{
    width: 206px;
    height: 80px;
    
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
}
.footer-social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus{
    background-color: var(--accent-color);
    }
}

.footer-social-icon{
    fill: var(--main-light-color);
}

.footer-mailing{
    margin-left: auto;

}

.footer-form{
    display: flex;
}
.footer-form__field{
    margin-right: 12px;
}

.footer-form__input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    color: var(--main-light-color);

    &::placeholder{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }

}

.footer-form__btn{
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 62px 10px 29px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    transition: background-color 250ms var(--timing-function);
    cursor: pointer;

    &:hover,
    &:focus{
    background-color: #188CE8;
    }
}
.footer-btn-icon{
    position: absolute;
    top: 13px;
    right: 28px;
}

