.header-container {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
}

.site-nav,
.mail-tel{
    display: none;
}
.mobile-menu__container{
    padding: 48px 40px;
    width: 100%;
    height: 100%;
}
.menu-button{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}
.mobile-menu{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-light-color);
    transition: opacity 250ms var(--timing-function);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu__list_link.current{
    color: var(--accent-color);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: fill 250ms var(--timing-function);
    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}

.mobile-menu__list_item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mobile-menu__list_link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.mobile-menu__contact-list{
    margin-top: 302px;
    margin-bottom: 64px;
}
.mobile-menu__contact-list_item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mobile-menu__contact-list_link{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.mobile-menu__mail{
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.mobile-menu__social-list_link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.mobile-menu__social-list{
    display: flex;
    justify-content: space-between;
 
}
.mobile-menu__social-list_item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
}

@media screen and (min-width: 768px) {
    .header-container{
        justify-content: space-between;
    }

    .menu-button{
        display: none;
    }

    .site-nav,
    .mail-tel{
    display: block;
    }
    .header-container{
        height: 80px;
    }
    .navigation {
       display: flex;
       align-items: center;
    }
    .site-nav {
       display: flex;
       align-items: center;
    }

    .site-nav__item{
       &:not(:last-child) {
       margin-right: 50px;
       }

       & .current::after{
       position: absolute;
       bottom: -33px;
       content: "";
       display: block;
       width: 100%;
       height: 4px;
       border-radius: 2px;
       background-color: var(--accent-color);  
       }
    }

    .site-nav__link{
       font-weight: 500;
       line-height: 1.14;
       letter-spacing: 0.02em;

       color: var(--main-color);
       transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

       &:hover,
       &:focus {
       color: var(--accent-color);
       fill: var(--accent-color);
       }

       &.current {
       position: relative;
       color: var(--accent-color);
       }
    }
    .mail-tel__item:not(:last-child){
        margin-bottom: 10px;
    }

     .mail-tel__link { 
       display: flex;
       align-items: center;
       color: var(--secondary-color);
       &:hover,
       &:focus{
           color: var(--accent-color);
           fill: var(--accent-color);
       }
    }

    .mail-tel__icon-mail,
    .mail-tel__icon-tel{
       fill: currentColor;
       margin-right: 8px;
    }
    
}

@media screen and (min-width: 1200px) {
    .header {
    background-color: var(--main-light-color);
    border-bottom: 1px solid var(--border-color); 
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 80px;
}

.navigation {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
}
.mail-tel {
    display: flex;
    align-items: center;
    
}

.site-nav__item{
    &:not(:last-child) {
    margin-right: 50px;
    }

    & .current::after{
    position: absolute;
    bottom: -33px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);  
    }
}

.site-nav__link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-color);
    

    &.current {
    position: relative;
    color: var(--accent-color);
    }
}
    .mail-tel__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-color);

}

.mail-tel{
     margin-left: auto; 
}
.mail-tel__item{
    &:not(:last-child){
    margin-right: 30px;
    margin-bottom: 0;
    }
    
}

.mail-tel__link { 
    display: flex;
    justify-content: center;
    align-items: center;
color: var(--secondary-color);
}

.mail-tel__icon-mail,
.mail-tel__icon-tel{
    fill: currentColor;
    margin-right: 10px;
    }
}
// .header {
//     background-color: var(--main-light-color);
//     border-bottom: 1px solid var(--border-color); 
// }

// .header-container {
//     display: flex;
//     align-items: center;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     height: 80px;
// }

// .navigation {
//     display: flex;
//     align-items: center;
// }
// .site-nav {
//     display: flex;
//     align-items: center;
// }
// .mail-tel {
//     display: flex;
//     align-items: center;
    
// }

// .site-nav__item{
//     &:not(:last-child) {
//     margin-right: 50px;
//     }

//     & .current::after{
//     position: absolute;
//     bottom: -33px;
//     content: "";
//     display: block;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);  
//     }
// }

// .site-nav__link{
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: var(--main-color);
//     transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//     }

//     &.current {
//     position: relative;
//     color: var(--accent-color);
//     }
// }
//     .mail-tel__link {
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     color: var(--main-color);
//     transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//     }

// }

// .mail-tel{
//      margin-left: auto; 
// }
// .mail-tel__item{
//     &:not(:last-child){
//     margin-right: 30px;
//     }
// }

// .mail-tel__link { 
//     display: flex;
//     justify-content: center;
//     align-items: center;
// color: var(--secondary-color);
// }

// .mail-tel__icon-mail,
// .mail-tel__icon-tel{
//     fill: currentColor;
//     margin-right: 10px;
// }