.hero {
    background:var(--background-color-under-img);
    max-width: 100%;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ),
    url("../images/background/bg_img_mobile.jpg");
    background-position: center;
    background-size: cover;
}

.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    color: var(--main-light-color);
}

.main-button {
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    cursor: pointer;
    border: none;
    background: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width:479px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width:479px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width:479px) {
      .hero{
          background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
         ),
        url("../images/background/bg_img_mobile@2x.jpg");
      }
  }

  @media screen and (min-width:480px) and (max-width:767px){
      .hero{
        
        background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ),
    url("../images/background/bg_img_tablet.jpg");
      }
      
      
  }
  @media screen and (min-width:768px){
    .hero{
      max-width: 100%;
        padding-top: 118px;
        padding-bottom: 118px;
    }
      .hero .container{
        width: 400px;
      }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width:767px),
  screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width:767px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width:767px) {
      .hero{
          background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
         ),
        url("../images/background/bg_img_tablet@2x.jpg");
      }
  }

  @media screen and (min-width:1200px) {
      .hero{
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        margin: 0 auto;
        background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
     ),
    url("../images/background/bg_img_desktop.jpg");
      }

      .hero .container{
        width: 696px;
        }

      .main-title{
          font-size: 44px;
          line-height: 1.36;
      }
      
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .hero{
          background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
         ),
        url("../images/background/bg_img_desktop@2x.jpg");
      }
  }



  // .hero {
// background:var(--background-color-under-img);
// max-width: 1600px;
// text-align: center;
// align-items: center;
// padding-top: 200px;
// padding-bottom: 200px;
// margin: 0 auto;
// background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/bg_img.jpg");
// background-position: center;
// background-size: cover;
// }

// .hero .container{
//     width: 696px;
// }

// .main-title {
// font-weight: 900;
// font-size: 44px;
// line-height: 1.36;
// letter-spacing: 0.06em;
// text-transform: uppercase;
// margin-bottom: 30px;

// color: var(--main-light-color);
// }

// .main-button {
//     border-radius: 4px;
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
//     padding: 10px 32px;
//     cursor: pointer;
//     border: none;
//     background: var(--accent-color);
//     color: var(--main-light-color);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

//     transition: background-color 250ms var(--timing-function);

//     &:hover,
//     &:focus{
//     background-color: #188CE8;
//     }
// }


