.portfolio-btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portf-btn-list__item{
    &:not(:last-child){
    margin-right: 8px;
    }
}


.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    color:var(--main-color);
    background: var(--light-background-buttons-color);

    transition: color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);

    &:hover,
    &:focus{
    color: var(--main-light-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

