.portf-img-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.portf-img-list__item{
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
    outline: 1px solid #EEEEEE;
    
}
.portf-img-list__link{
    display: block;
    transition: box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portf-img-list__description{
    padding: 20px 24px;
}
.portfolio-img-list__title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
width: 322px;
margin-bottom: 4px;

color:var(--main-color);

}
.portfolio-img-list__text {
font-size: 16px;
line-height: 1.87;
width: 322px;

color:var(--secondary-color);
}

.overlay-box{
    position: relative;
    overflow: hidden;
}

.overlay-box__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: inherit;
    color: var(--main-light-color);
    background: var(--overlay-background);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    .portf-img-list__link:hover &,
    .portf-img-list__link:focus &{
    transform: translateY(0%);
    }
}

