:root{
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --main-font-size: 14px;
    --background-color: #2F303A;
    --main-light-color: #ffffff;
    --logo-black-color: #000000;
    --light-background-buttons-color: #F5F4FA;
    --footer-mail-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --background-color-under-img: #C4C4C4;
    --clients-color: #AFB1B8;
    --background-above-img: rgba(47, 48, 58, 0.8);
    --overlay-background: rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}